html {
  background-color: #010101;
}

.bg-image {
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100%;
}

@media (max-width: 600px) {
  .movie-card-container {
      flex-direction: column;
  }

  .movie-info {
      align-items: flex-start;
      flex: 1;
      text-align: center;
      padding: 30px 20px;
  }

  .movie-info .tags-container,
  .movie-info p {
      width: 100%;
  }
}
