html {
  background-color: #010101;
}

.bg-image {
background-size: cover;
background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .image-container {
      flex: 5;
  }
}

@media (max-width: 700px) {
  .image-container {
      -webkit-clip-path: circle(80% at 45px 70px);
      clip-path: circle(80% at 45px 70px);
  }
}

@media (max-width: 600px) {
  .movie-card-container {
      flex-direction: column;
  }

  .image-container {
      clip-path: none;
      flex: 1;
      height: 400px;
  }

  .movie-info {
      align-items: flex-start;
      flex: 1;
      text-align: left;
      padding: 30px 20px;
  }

  .movie-info .tags-container,
  .movie-info p {
      width: 100%;
  }
}
